export("GenomicHilbertCurve")
export("HilbertCurve")
export("default_overlay")
export("is_white")
exportClasses("GenomicHilbertCurve")
export("GenomicHilbertCurve")
exportClasses("HilbertCurve")
export("HilbertCurve")
exportMethods("hc_centered_text")
exportMethods("hc_layer")
exportMethods("hc_level")
exportMethods("hc_map")
exportMethods("hc_normal_points")
exportMethods("hc_offset")
exportMethods("hc_png")
exportMethods("hc_points")
exportMethods("hc_polygon")
exportMethods("hc_rect")
exportMethods("hc_segmented_points")
exportMethods("hc_segments")
exportMethods("hc_text")
exportMethods("hc_which")
exportMethods("unzoom")
exportMethods("zoom")

import(GenomicRanges)
import(IRanges)
import(Rcpp)
import(grid)
import(methods)
import(polylabelr)
importFrom("circlize", rand_color)
importFrom("circlize", read.chromInfo)
importFrom("grDevices", "dev.interactive", "dev.list")
importFrom("grDevices", "rgb")
importFrom("grDevices", col2rgb)
importFrom("graphics", "hist")
importFrom("png", writePNG)
importFrom("stats", "aggregate")
importFrom("utils", "packageDescription")
useDynLib(HilbertCurve, .registration = TRUE)

